In [1]:
import pandas as pd
from scipy import stats

### load data

In [2]:
cohort_df = pd.read_csv('cohort_18_to_90_df.csv',dtype = {'Phecode':str})

/tmp/ipykernel_426/536062527.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  cohort_df = pd.read_csv('cohort_18_to_90_df.csv',dtype = {'Phecode':str})

In [25]:
cohort_df.condition_start_datetime.max()

'2022-07-01 23:59:59+00:00'

In [3]:
#less_200_df = pd.read_csv('result_v2/less_than_200.csv', dtype= {'Phecode':str})

In [3]:
# matched_pid = pd.read_csv('matched_person_ids.csv').rename(columns = {'x':'person_id'})

In [3]:
matched_pid_f = pd.read_csv('matched_person_ids_female.csv').rename(columns = {'x':'person_id'})

In [4]:
matched_pid_m = pd.read_csv('matched_person_ids_male.csv').rename(columns = {'x':'person_id'})

In [26]:
icd2phe = pd.read_csv('icd2phe.csv')

In [28]:
icd2phe.Phecode.nunique()

1875

### def for create matrix

In [7]:
# Define the mapping dictionary
sex_mapping = {
    'Male': 'Male',
    'Female': 'Female',
    'I prefer not to answer': 'Other sex',
    'Intersex': 'Other sex',
    'No matching concept': 'Other sex'
}

race_mapping = {
    'White':'White' ,                                     
    'Black or African American':'Black or African American' , 
    'Asian':'Asian' ,                                    
    'More than one population':'More than one population',                      
    'None of these':'Other race',    
    'None Indicated':'No answer race',                                                              
    'PMI: Skip': 'No answer race',
    'I prefer not to answer':'No answer race',                        
    'Middle Eastern or North African':'Other race',               
    'Native Hawaiian or Other Pacific Islander':'Other race'    
    }

ethinicity_mapping = {
    'Not Hispanic or Latino':'Not Hispanic or Latino',                            
    'Hispanic or Latino':'Hispanic or Latino',                                                                            
    'What Race Ethnicity: Race Ethnicity None Of These':'Other ethinicity', 
    'No matching concept': 'Other ethinicity',
    'PMI: Prefer Not To Answer':'No answer ethinicity', 
    'PMI: Skip':'No answer ethinicity'
    }

In [8]:
def before_create_matrix(df):
    df = df[['person_id','gender', 'date_of_birth', 'race', 'ethnicity','sex_at_birth','birth_year', 'age_last_EHR', 'HS']].drop_duplicates()
    df['sex_revised'] = df['sex_at_birth'].map(sex_mapping)
    df['race_revised'] = df['race'].map(race_mapping)
    df['ethinicity_revised'] = df['ethnicity'].map(ethinicity_mapping)
#     print(df['sex_revised'].value_counts(),'\n')
#     print(df['race_revised'].value_counts(),'\n')
#     print(df['ethinicity_revised'].value_counts(),'\n')
#     print(df.groupby(['sex_revised','HS'])['person_id'].nunique(),'\n')
#     print(df.groupby(['race_revised','HS'])['person_id'].nunique(),'\n')
#     print(df.groupby(['ethinicity_revised','HS'])['person_id'].nunique(),'\n')
    sex_matrix = df.assign(value=1).pivot_table(index='person_id', columns='sex_revised', values='value', fill_value=0)
    race_matrix = df.assign(value=1).pivot_table(index='person_id', columns='race_revised', values='value', fill_value=0)
    ethinicity_matrix = df.assign(value=1).pivot_table(index='person_id', columns='ethinicity_revised', values='value', fill_value=0)   
    is_hs = df[['person_id','HS']].drop_duplicates()
    df_sub = (is_hs
          .merge(race_matrix, on='person_id', how='left')
          .merge(sex_matrix, on='person_id', how='left')
          .merge(ethinicity_matrix, on='person_id', how='left'))
    # Apply z-score normalization
    df['age_normalized'] = stats.zscore(df['age_last_EHR'])
    df = df[['person_id','age_normalized']]
    df_merge = df_sub.merge(df, on = 'person_id', how = 'left')
    return df_merge

In [9]:
def create_matrix(df,df_demo):
    # Drop duplicate entries for person_id and Phecode
    df = df.drop_duplicates(subset=['person_id', 'Phecode'])
    
    # Create the binary matrix using pivot_table
    binary_matrix = df.assign(value=1).pivot_table(index='person_id', 
                                                   columns='Phecode', values='value', fill_value=0)
    
    binary_matrix = binary_matrix.merge(df_demo, how = 'left', on = 'person_id')
    return binary_matrix

### Create matrix for remove record less than 200

#### select dataset

In [8]:
less_200_list = less_200_df['Phecode']

In [9]:
less_than_200_cohort = cohort_df[~cohort_df['Phecode'].isin(less_200_list)]

In [10]:
len(less_than_200_cohort['person_id'].unique())

216938

In [23]:
less_than_200_demo = before_create_matrix(less_than_200_cohort)

In [24]:
less_than_200_demo.head(5)

,person_id,HS,Asian,Black or African American,More than one population,No answer race,Other race,White,Female,Male,Other sex,Hispanic or Latino,No answer ethinicity,Not Hispanic or Latino,Other ethinicity,age_normalized
0,7189522,0,0.0,0.0,0.0,0.0,0.0,1.0,1,0,0,0,0,1,0,0.642312
1,9306478,0,0.0,0.0,0.0,0.0,0.0,1.0,1,0,0,0,0,1,0,0.548530
2,9557736,0,0.0,0.0,0.0,0.0,0.0,1.0,0,1,0,0,0,1,0,-0.015306
3,1840872,0,0.0,0.0,0.0,0.0,0.0,1.0,0,1,0,0,0,1,0,0.283089
4,3486599,0,0.0,0.0,0.0,0.0,0.0,1.0,0,1,0,0,0,1,0,1.841141

In [60]:
less_than_200_phecode = create_matrix(less_than_200_cohort,less_than_200_demo)

In [61]:
less_than_200_phecode.head(5) #1864

,person_id,008,008.5,008.51,008.52,008.6,008.7,010,031,038,...,Other race,White,Female,Male,Other sex,Hispanic or Latino,No answer ethinicity,Not Hispanic or Latino,Other ethinicity,age_normalized
0,1000000,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0,1,0,0,0,1,0,0.522626
1,1000004,0,0,0,0,0,0,0,0,0,...,0.0,1.0,0,1,0,0,0,1,0,1.599145
2,1000033,0,0,0,0,0,0,0,0,1,...,0.0,1.0,0,1,0,0,0,1,0,0.642968
3,1000039,0,0,0,0,0,0,0,0,0,...,0.0,0.0,1,0,0,0,0,1,0,-0.329769
4,1000042,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0,1,0,0,0,1,0,0.044045

In [62]:
less_than_200_phecode.to_csv('result_v2/less_than_200_phecode_matrix.csv', index = False)

### Create matrix for matchit cohort

In [6]:
matchit_condition_df = cohort_df[cohort_df['person_id'].isin(matched_pid['person_id'])]

In [7]:
matchit_condition_df.head()

,person_id,standard_concept_code,source_concept_code,source_vocabulary,condition_start_datetime,ICDcode,ICDsource,Phecode,Phenotype,category,...,length_first_to_last,gender,date_of_birth,race,ethnicity,sex_at_birth,birth_year,age_2024,HS,age_last_EHR
9,2395521,118185001,V22.1,ICD9CM,2008-12-05 06:00:00+00:00,V22.1,ICD9CM,NaN,NaN,NaN,...,39.342466,Female,1973-06-15 00:00:00+00:00,White,Not Hispanic or Latino,Female,1973,51,0,49.054795
10,2563639,52254009,581.9,ICD9CM,2013-09-19 10:36:00+00:00,581.9,ICD9CM,580.2,Nephrotic syndrome without mention of glomerul...,genitourinary,...,14.353425,Female,1985-06-15 00:00:00+00:00,Black or African American,Not Hispanic or Latino,Female,1985,39,0,36.989041
17,1734015,111222003,717.3,ICD9CM,2008-04-11 08:30:00+00:00,717.3,ICD9CM,835,Internal derangement of knee,injuries & poisonings,...,22.526027,Male,1947-06-15 00:00:00+00:00,White,Not Hispanic or Latino,Male,1947,77,0,75.095890
18,2010154,57190000,367.1,ICD9CM,2014-11-03 06:00:00+00:00,367.1,ICD9CM,367.1,Myopia,sense organs,...,21.252055,Female,1968-06-15 00:00:00+00:00,White,Not Hispanic or Latino,Female,1968,56,0,54.035616
29,1067462,421895002,250.70,ICD9CM,2015-02-09 06:00:00+00:00,250.70,ICD9CM,250.25,Diabetes type 2 with peripheral circulatory di...,endocrine/metabolic,...,33.969863,Female,1957-06-15 00:00:00+00:00,White,Not Hispanic or Latino,Female,1957,67,0,65.087671

In [11]:
matchit_condition_df[~matchit_condition_df['Phecode'].isna()]['ICDcode'].unique()

array(['581.9', '717.3', '367.1', ..., 'M99.19', 'S91.106?', 'S13.100?'],
      dtype=object)

In [13]:
matchit_condition_df[matchit_condition_df['Phecode'].isna()].sort_values(by = 'ICDcode')['ICDcode'].unique()

array(['629.20', '629.22', '629.23', '629.31', '629.32', '629.81',
       '635.00', '635.01', '635.02', '635.10', '635.11', '635.12',
       '635.20', '635.22', '635.7', '635.70', '635.72', '635.80',
       '635.81', '635.82', '635.9', '635.90', '635.91', '635.92',
       '636.20', '636.40', '637.00', '637.01', '637.10', '637.11',
       '637.70', '637.71', '637.81', '637.9', '637.90', '637.91',
       '637.92', '638.9', '649.81', '765.20', '997.32', '997.41',
       '997.49', '999.32', '999.33', '999.52', '999.59', 'A92.5',
       'B37.31', 'C44', 'C44.1022', 'C44.1122', 'C44.1191', 'C44.1192',
       'C44.1221', 'C44.1222', 'C56.3', 'C96', 'D04.112', 'D22.112',
       'D22.122', 'D23.111', 'D23.112', 'D23.121', 'D23.122', 'D32',
       'D47.02', 'D47.Z2', 'D48.19', 'D57.03', 'D57.09', 'D57.218',
       'D57.439', 'D57.458', 'D57.459', 'D57.81', 'D57.818', 'D59.10',
       'D59.11', 'D59.12', 'D59.19', 'D63', 'D68.00', 'D68.6', 'D72.10',
       'D72.119', 'D72.12', 'D75', 'D75.829', 'D75.838', 'D75.839',
       'D75.A', 'D84.81', 'D84.821', 'D84.822', 'D84.89', 'D89.831',
       'D89.832', 'D89.839', 'E01', 'E27', 'E72.89', 'E74.819', 'E74.89',
       'E79.82', 'E80', 'E863.3', 'E863.4', 'E866.8', 'E866.9', 'E867',
       'E869', 'E869.8', 'E869.9', 'E87.29', 'E870', 'E870.0', 'E870.4',
       'E870.6', 'E870.8', 'E878', 'E878.1', 'E878.2', 'E878.3', 'E878.4',
       'E878.5', 'E878.6', 'E878.8', 'E878.9', 'E879.0', 'E879.2',
       'E879.3', 'E879.4', 'E879.6', 'E879.7', 'E879.8', 'E879.9', 'E88',
       'E88.02', 'E88.810', 'E88.819', 'E887', 'E905.0', 'E905.1',
       'E905.2', 'E905.3', 'E905.4', 'E905.5', 'E905.6', 'E905.7',
       'E905.8', 'E905.9', 'E906.3', 'E906.5', 'E906.8', 'E906.9',
       'E929.2', 'E929.3', 'E929.4', 'E929.5', 'E929.8', 'E929.9',
       'E967.0', 'E967.1', 'E967.2', 'E967.3', 'E967.4', 'E967.5',
       'E967.8', 'E967.9', 'E969', 'E970', 'E972', 'E973', 'E975', 'E976',
       'E980.1', 'E980.2', 'E980.3', 'E980.4', 'E980.5', 'E980.9',
       'E982.8', 'E982.9', 'E983.8', 'E987.0', 'E987.1', 'E987.9', 'E993',
       'E996', 'E999.0', 'F01.518', 'F02.818', 'F10.11', 'F10.12',
       'F10.13', 'F10.130', 'F10.131', 'F10.132', 'F10.139', 'F10.23',
       'F10.930', 'F10.939', 'F11.11', 'F11.13', 'F12.11', 'F12.13',
       'F12.23', 'F13.1', 'F13.11', 'F13.139', 'F14.11', 'F14.13',
       'F15.11', 'F15.13', 'F16.11', 'F17.29', 'F19.11', 'F19.130',
       'F19.139', 'F51', 'F53.0', 'F53.1', 'F68.A', 'F78.A9', 'F81',
       'G11.10', 'G11.11', 'G11.19', 'G20.C', 'G40', 'G44.86', 'G51.31',
       'G51.32', 'G51.33', 'G51.39', 'G71.00', 'G71.01', 'G71.02',
       'G71.09', 'G72', 'G90.A', 'G92.8', 'G92.9', 'G93.31', 'G96.00',
       'G96.01', 'G96.02', 'G96.08', 'G96.191', 'G96.198', 'G96.810',
       'G96.819', 'G96.89', 'G97.61', 'G97.62', 'G97.63', 'G97.84',
       'H01.00A', 'H01.00B', 'H01.01A', 'H01.01B', 'H01.02A', 'H01.02B',
       'H02.152', 'H02.155', 'H02.159', 'H02.20C', 'H02.21B', 'H02.21C',
       'H02.22C', 'H02.23A', 'H02.882', 'H02.883', 'H02.884', 'H02.885',
       'H02.886', 'H02.889', 'H02.88A', 'H02.88B', 'H10.823', 'H10.829',
       'H18.503', 'H18.509', 'H18.511', 'H18.512', 'H18.513', 'H18.519',
       'H18.521', 'H18.522', 'H18.523', 'H18.529', 'H18.543', 'H18.592',
       'H18.593', 'H18.599', 'H33', 'H40.11X0', 'H40.11X1', 'H40.11X2',
       'H40.11X3', 'H40.11X4', 'H55.82', 'H57.812', 'H57.813', 'H57.819',
       'H57.89', 'H81.8X1', 'H81.8X2', 'H81.8X3', 'H81.8X9', 'H83.8X1',
       'H83.8X2', 'H83.8X3', 'H83.8X9', 'I20.89', 'I26.93', 'I26.94',
       'I27', 'I31.39', 'I45', 'I47.11', 'I47.20', 'I47.21', 'I47.29',
       'I48.11', 'I48.19', 'I48.20', 'I48.21', 'I49', 'I5A', 'I60',
       'I63.033', 'I63.81', 'I63.89', 'I67', 'I67.850', 'I67.858', 'I71',
       'I71.20', 'I71.21', 'I71.23', 'I71.40', 'I72.5', 'I80.2',
       'I82.451', 'I82.452', 'I82.453', 'I82.459', 'I82.461', 'I82.462',
       'I82.463', 'I82.469', 'I82.551', 'I82.552', 'I82.561', 'I82.562',
       'I87', 'I95.8', 'J12.82', 'J44.81', 'J82.81', 'J82.83', 'J82.89',
       'J84.170', 'J84.178', 'J95.860', 'J95.861', 'J96', 'J98.0', 'K05',
       'K12', 'K20.80', 'K20.81', 'K20.90', 'K20.91', 'K22.81', 'K22.89',
       'K31.A0', 'K31.A11', 'K31.A19', 'K35.20', 'K35.209', 'K35.21',
       'K35.30', 'K35.31', 'K35.32', 'K35.33', 'K35.890', 'K35.891',
       'K52.838', 'K52.839', 'K56', 'K56.51', 'K56.52', 'K61.31',
       'K61.39', 'K61.5', 'K74', 'K74.00', 'K74.01', 'K74.02', 'K76.82',
       'K82.A1', 'K82.A2', 'K83.01', 'K83.09', 'K91.86', 'K92.8', 'L02',
       'L03', 'L20.8', 'L24.A9', 'L24.B3', 'L89.156', 'L89.206',
       'L89.316', 'L89.326', 'L89.526', 'L89.616', 'L89.626', 'L89.896',
       'L91', 'L92', 'L94', 'L98', 'L98.428', 'L98.496', 'L98.498',
       'L98.7', 'M04.9', 'M05', 'M05.7A', 'M06', 'M06.0A', 'M11', 'M15',
       'M16', 'M24.19', 'M24.29', 'M24.49', 'M24.59', 'M24.69', 'M24.89',
       'M26.641', 'M26.642', 'M26.643', 'M26.649', 'M26.659', 'M31.10',
       'M31.19', 'M35.05', 'M35.06', 'M35.07', 'M35.0B', 'M35.0C',
       'M35.89', 'M43.5X2', 'M43.5X6', 'M45.A0', 'M71', 'M80.0AXA',
       'M80.8AXS', 'M92.503', 'M92.522', 'M92.529', 'N04.20', 'N13',
       'N18.30', 'N18.31', 'N18.32', 'N35.811', 'N35.813', 'N35.819',
       'N35.82', 'N35.912', 'N35.913', 'N35.914', 'N35.916', 'N35.919',
       'N35.92', 'N48', 'N61.21', 'N61.22', 'N63.15', 'N63.25', 'N76',
       'N80.03', 'N80.30', 'N80.40', 'N80.B2', 'N83.511', 'N83.512',
       'N83.519', 'N83.522', 'N83.529', 'N89', 'N90', 'N90.810', 'N92',
       'N93', 'N95', 'N96', 'N99.524', 'N99.534', 'N99.840', 'N99.841',
       'N99.842', 'N99.843', 'N99.85', 'O04.5', 'O04.6', 'O04.80',
       'O04.87', 'O04.89', 'O07.1', 'O07.4', 'O30.133', 'O30.139',
       'O31.8X21', 'O31.8X22', 'O34.218', 'O34.22', 'O35.00X0',
       'O35.10X0', 'O45.8X2', 'O45.8X3', 'O86.00', 'O86.01', 'O86.02',
       'O86.04', 'O86.09', 'O99.891', 'O99.892', 'O99.893', 'P04.18',
       'P04.19', 'P09.8', 'P74.31', 'P74.32', 'Q21.10', 'Q21.11',
       'Q21.12', 'Q44.70', 'Q44.79', 'Q51.20', 'Q51.21', 'Q51.22',
       'Q51.28', 'Q66.00', 'Q66.01', 'Q66.02', 'Q66.10', 'Q66.211',
       'Q66.212', 'Q66.219', 'Q66.221', 'Q66.222', 'Q66.229', 'Q66.30',
       'Q66.31', 'Q66.32', 'Q66.70', 'Q66.71', 'Q66.72', 'Q66.90',
       'Q66.91', 'Q79.60', 'Q79.61', 'Q79.62', 'Q79.63', 'Q79.69',
       'Q85.81', 'Q85.89', 'Q87.19', 'Q93.51', 'Q93.59', 'R23', 'R41',
       'R41.83', 'R45.88', 'R50', 'R53.8', 'R63.30', 'R63.39', 'R65',
       'R65.2', 'R74.01', 'R74.02', 'R82.81', 'R82.89', 'R82.991',
       'R82.992', 'R82.993', 'R82.994', 'R82.998', 'R87', 'S02.10XA',
       'S02.10XD', 'S02.121A', 'S02.3XXA', 'S02.831A', 'S02.832A',
       'S02.832S', 'S02.839A', 'S02.841A', 'S02.842A', 'S02.85X?',
       'S02.85XA', 'S02.85XD', 'S02.85XS', 'S02.8XXA', 'S02.8XXD',
       'S03.0XXA', 'S03.0XXD', 'S03.4XXA', 'S06.33A?', 'S09', 'S13',
       'S20.213A', 'S20.214A', 'S20.224A', 'S20.313A', 'S22', 'S32',
       'S42', 'S62', 'S82', 'S92', 'T40.411A', 'T40.412A', 'T40.711A',
       'T40.715S', 'T40.725S', 'T50.0X1A', 'T50.1X1A', 'T50.1X4A',
       'T50.2X1A', 'T50.4X1A', 'T50.4X1D', 'T50.7X1?', 'T50.8X1A',
       'T50.901D', 'T50.903D', 'T50.904D', 'T50.911A', 'T50.916S',
       'T50.991D', 'T56.4X4D', 'T56.5X1D', 'T56.5X1S', 'T56.91X?',
       'T56.91XS', 'T57.8X1A', 'T57.91XA', 'T67.01X?', 'T67.01XA',
       'T80.82XA', 'T81.40X?', 'T81.40XA', 'T81.40XD', 'T81.41X?',
       'T81.41XA', 'T81.41XD', 'T81.41XS', 'T81.42XA', 'T81.42XD',
       'T81.43XA', 'T81.44XA', 'T81.44XD', 'T81.49X?', 'T81.49XA',
       'T81.49XD', 'T81.49XS', 'T83.51XA', 'T83.51XD', 'T84.040A',
       'T84.043A', 'T84.043D', 'T84.048A', 'T85.83XA', 'T85.84XA',
       'T85.84XD', 'T85.85XA', 'T85.89XA', 'T86.8402', 'T86.8411',
       'T86.8412', 'T86.8419', 'T86.8481', 'T86.8482', 'T86.8489',
       'U07.0', 'U07.1', 'V02', 'V21.35', 'V21.9', 'V22', 'V22.0',
       'V22.1', 'V22.2', 'V23.1', 'V23.4', 'V23.42', 'V23.49', 'V23.5',
       'V23.7', 'V23.81', 'V23.82', 'V23.83', 'V23.84', 'V23.85',
       'V23.86', 'V23.87', 'V24.0', 'V24.1', 'V24.2', 'V26.51', 'V26.52',
       'V27.0', 'V27.9', 'V29.2', 'V40.31', 'V40.39', 'V41', 'V41.1',
       'V41.6', 'V41.8', 'V42', 'V42.3', 'V42.4', 'V42.8', 'V42.89',
       'V42.9', 'V44.0', 'V44.1', 'V44.3', 'V45.77', 'V46.3', 'V46.8',
       'V47', 'V47.1', 'V47.2', 'V47.5', 'V48.0', 'V48.2', 'V48.3',
       'V48.8', 'V48.9', 'V49.0', 'V49.1', 'V49.3', 'V49.5', 'V49.61',
       'V49.62', 'V49.66', 'V49.71', 'V49.72', 'V49.73', 'V49.75',
       'V49.76', 'V49.81', 'V49.82', 'V49.84', 'V49.87', 'V49.89',
       'V61.41', 'V61.42', 'V61.49', 'V61.7', 'V62', 'V62.4', 'V62.6',
       'V62.81', 'V62.89', 'V62.9', 'V64.01', 'V64.1', 'V64.3', 'V64.41',
       'V64.42', 'V64.43', 'V65.2', 'V65.5', 'V66.0', 'V66.5', 'V66.6',
       'V66.9', 'V69', 'V69.0', 'V69.2', 'V69.4', 'V69.8', 'V69.9',
       'V71.81', 'V83.01', 'V83.02', 'V83.81', 'V83.89', 'V84.02',
       'V84.04', 'V84.09', 'V84.81', 'V84.89', 'V85.52', 'V86.0', 'V86.1',
       'V88.01', 'V88.02', 'V88.03', 'V88.21', 'V88.22', 'V89.01',
       'V89.03', 'V89.04', 'V89.05', 'V90.10', 'V90.11', 'V90.12',
       'V90.33', 'V90.39', 'V90.83', 'V90.89', 'V90.9', 'V91.00',
       'V91.02', 'V91.03', 'V91.11', 'V91.99', 'W01.0XXS', 'W01.198S',
       'W06.XXXS', 'W10.1XXS', 'W10.2XXS', 'W10.8XXS', 'W10.9XXS',
       'W11.XXXS', 'W13.2XXS', 'W14.XXXS', 'W16.212S', 'W16.42XS',
       'W17.89XS', 'W18.30XS', 'W20.8XX?', 'W20.8XXS', 'W22.09XS',
       'W22.8XXS', 'W23.0XXS', 'W25.XXXS', 'W26.8XXS', 'W27.3XX?',
       'W27.3XXA', 'W27.3XXD', 'W34.00X?', 'W34.00XS', 'W34.09XS',
       'W42.9XXS', 'W45.0XX?', 'W45.0XXA', 'W45.0XXD', 'W45.0XXS',
       'W45.8XX?', 'W45.8XXA', 'W45.8XXD', 'W45.8XXS', 'W46.0XXA',
       'W46.0XXD', 'W46.0XXS', 'W46.1XXA', 'W49.04XA', 'W50.3XX?',
       'W50.3XXA', 'W50.3XXD', 'W50.4XXA', 'W51.XXXA', 'W54.0XX?',
       'W54.0XXS', 'W54.1XXA', 'W54.8XX?', 'W54.8XXA', 'W54.8XXD',
       'W57.XXX?', 'W57.XXXS', 'W61.99XA', 'W64.XXX?', 'W64.XXXA',
       'W64.XXXS', 'W86.8XX?', 'W86.8XXS', 'W88.1XXS', 'W88.8XX?',
       'W89.1XXS', 'W90.8XX?', 'X00.8XXS', 'X08.8XXS', 'X50.0XXS',
       'X50.3XXA', 'X50.3XXD', 'X50.3XXS', 'X93.XXXS', 'X95.8XXS',
       'X95.9XXS', 'X99.1XXS', 'X99.8XXS', 'X99.9XXS', 'Y00.XXXS',
       'Y04.0XXS', 'Y04.8XXS', 'Y07.01', 'Y07.03', 'Y07.04', 'Y07.11',
       'Y07.12', 'Y07.410', 'Y07.411', 'Y07.432', 'Y07.499', 'Y07.50',
       'Y07.59', 'Y07.9', 'Y30.XXXA', 'Y35.811A', 'Y35.813A', 'Y35.833A',
       'Y35.839A', 'Y35.893A', 'Y35.91XD', 'Y35.93XA', 'Y38.812S',
       'Y71.1', 'Y71.2', 'Y71.8', 'Y73.2', 'Y75.2', 'Y76.2', 'Y79.2',
       'Y81.2', 'Y82.8', 'Y82.9', 'Y84.0', 'Y84.2', 'Y84.4', 'Y84.5',
       'Y84.6', 'Y84.8', 'Y84.9', 'Y90.9', 'Y92.814', 'Y93.89', 'Y95',
       'Y99.8', 'Z13.31', 'Z22.51', 'Z22.52', 'Z22.7', 'Z59.811',
       'Z87.898', 'Z91.52', 'Z93.0', 'Z93.1', 'Z93.3', 'Z93.4', 'Z94.5',
       'Z94.6', 'Z94.89', 'Z94.9', 'Z97.0', 'Z98.811', 'Z99.3', 'Z99.89'],
      dtype=object)

In [14]:
matchit_condition_df = matchit_condition_df.dropna(subset = ['Phecode'])

In [26]:
matchit_demo = before_create_matrix(matchit_condition_df)

In [28]:
matchit_demo.columns

Index(['person_id', 'HS', 'Asian', 'Black or African American',
       'More than one population', 'No answer race', 'Other race', 'White',
       'Female', 'Male', 'Other sex', 'Hispanic or Latino',
       'No answer ethinicity', 'Not Hispanic or Latino', 'Other ethinicity',
       'age_normalized'],
      dtype='object')

In [29]:
matchit_phecode = create_matrix(matchit_condition_df,matchit_demo)

In [30]:
matchit_phecode.head(5)

,person_id,008,008.5,008.51,008.52,008.6,008.7,010,031,038,...,Other race,White,Female,Male,Other sex,Hispanic or Latino,No answer ethinicity,Not Hispanic or Latino,Other ethinicity,age_normalized
0,1000095,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,-0.315170
1,1000117,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0.194519
2,1000151,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0.554551
3,1000262,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,-1.427234
4,1000357,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,1.898064

In [31]:
matchit_phecode.to_csv('matchit_phecode_matrix.csv', index = False)

### Create matrix for matchit female

In [10]:
matchit_female_df = cohort_df[cohort_df['person_id'].isin(matched_pid_f['person_id'])]

In [11]:
matchit_female_df = matchit_female_df.dropna(subset = ['Phecode'])

In [12]:
matchit_female_demo = before_create_matrix(matchit_female_df)

In [13]:
matchit_female_demo.head(5)

,person_id,HS,Asian,Black or African American,More than one population,No answer race,Other race,White,Female,Hispanic or Latino,No answer ethinicity,Not Hispanic or Latino,Other ethinicity,age_normalized
0,2563639,0,0,1,0,0,0,0,1,0,0,1,0,-0.688852
1,2010154,0,0,0,0,0,0,1,1,0,0,1,0,0.461045
2,1067462,0,0,0,0,0,0,1,1,0,0,1,0,1.206575
3,5412506,0,0,0,0,0,0,1,1,0,0,1,0,0.261448
4,6315019,0,0,0,0,0,0,1,1,0,0,1,0,0.261448

In [14]:
matchit_female_phecode = create_matrix(matchit_female_df,matchit_female_demo)

In [15]:
matchit_female_phecode = matchit_female_phecode.drop(columns = 'Female')

In [23]:
matchit_female_phecode.to_csv('matchit_phecode_matrix_female.csv', index = False)

### Create matrix for matchit male

In [16]:
matchit_male_df = cohort_df[cohort_df['person_id'].isin(matched_pid_m['person_id'])]

In [17]:
matchit_male_df = matchit_male_df.dropna(subset = ['Phecode'])

In [18]:
matchit_male_demo = before_create_matrix(matchit_male_df)

In [19]:
matchit_male_demo.head(5)

,person_id,HS,Asian,Black or African American,More than one population,No answer race,Other race,White,Male,Hispanic or Latino,No answer ethinicity,Not Hispanic or Latino,Other ethinicity,age_normalized
0,1734015,0,0,0,0,0,0,1,1,0,0,1,0,1.443020
1,3002516,1,0,0,0,0,0,1,1,0,0,1,0,0.903112
2,1291509,0,0,1,0,0,0,0,1,0,0,1,0,0.766981
3,2125039,0,0,1,0,0,0,0,1,0,0,1,0,0.363573
4,9642278,0,0,0,0,0,0,1,1,0,0,1,0,-0.718829

In [20]:
matchit_male_phecode = create_matrix(matchit_male_df,matchit_male_demo)

In [21]:
matchit_male_phecode = matchit_male_phecode.drop(columns = 'Male')

In [22]:
matchit_male_phecode.head()

,person_id,008,008.5,008.51,008.52,008.6,008.7,010,031,038,...,Black or African American,More than one population,No answer race,Other race,White,Hispanic or Latino,No answer ethinicity,Not Hispanic or Latino,Other ethinicity,age_normalized
0,1000320,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,-1.177280
1,1000976,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0.417878
2,1001355,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,-0.348300
3,1001485,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0.496934
4,1001917,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,-0.730096

In [24]:
matchit_male_phecode.to_csv('matchit_phecode_matrix_male.csv', index = False)

### Load files

In [18]:
import pandas as pd
matchit_phecode = pd.read_csv('result_v2/matchit_phecode_matrix.csv')
# matchit_female_phecode = pd.read_csv('result_v2/matchit_phecode_matrix_female.csv')
# matchit_male_phecode = pd.read_csv('result_v2/matchit_phecode_matrix_male.csv')
# phecode_matrix_demo = pd.read_csv('result_v2/phecode_matrix_demo.csv')

In [24]:
a = matchit_phecode[matchit_phecode['Female']== 1].iloc[:,0:-16]

In [28]:
a.loc[:, a.sum(axis = 0) ==0]

,187,187.1,187.2,257,282,338,359,601.11,601.3,602.3,603.2,604.1,604.2,604.3,710.1,722,750.5,751.12
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24094,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24095,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24096,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24099,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [29]:
b =  matchit_phecode[matchit_phecode['Male']== 1].iloc[:,0:-16]

In [12]:
matchit_female_phecode.iloc[:,0:-16]

,person_id,008,008.5,008.51,008.52,008.6,008.7,010,031,038,...,979,981,983,984,985,986,987,988,989,990
0,1000095,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1000151,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1000262,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1000357,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1000417,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18992,9988752,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18993,9992115,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
18994,9992814,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18995,9998092,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18996,9999653,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
b.loc[:, b.sum(axis = 0) ==0]

,1003,174,174.3,182,184.1,184.11,204.3,218.2,221,227,...,750,750.2,756.2,756.22,795.8,961.1,962.1,965.3,972.2,994
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24084,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24086,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24097,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24098,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
matchit_phecode.iloc[:,0:-16]

,person_id,008,008.5,008.51,008.52,008.6,008.7,010,031,038,...,984,985,986,987,988,989,990,994,994.1,994.2
0,1000095,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1000151,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1000174,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1000262,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1000344,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24096,9992814,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24097,9995309,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24098,9996889,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
24099,9998676,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24100,9999653,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
phecode_matrix_demo.iloc[:,0:-16]

,person_id,008,008.5,008.51,008.52,008.6,008.7,010,031,031.1,...,986,987,988,989,990,994,994.1,994.2,994.21,996
0,1000000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1000004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1000033,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,1000039,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1000042,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216937,9999351,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
216938,9999412,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
216939,9999476,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
216940,9999653,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
216941,9999697,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### Archive

In [41]:
# # Apply the mapping to the A column to create the B column
# matchit_cohort_df['sex_revised'] = matchit_cohort_df['sex_at_birth'].map(sex_mapping)
# matchit_cohort_df['race_revised'] = matchit_cohort_df['race'].map(race_mapping)
# matchit_cohort_df['ethinicity_revised'] = matchit_cohort_df['ethnicity'].map(ethinicity_mapping)

In [44]:
# # Create the binary matrix using pivot_table
# sex_matrix = matchit_cohort_df.assign(value=1).pivot_table(index='person_id', columns='sex_revised', values='value', fill_value=0)
# race_matrix = matchit_cohort_df.assign(value=1).pivot_table(index='person_id', columns='race_revised', values='value', fill_value=0)
# ethinicity_matrix = matchit_cohort_df.assign(value=1).pivot_table(index='person_id', columns='ethinicity_revised', values='value', fill_value=0)

In [46]:
# # Apply z-score normalization
# matchit_cohort_df['age_normalized'] = stats.zscore(matchit_cohort_df['age_last_EHR'])

In [47]:
# is_hs = matchit_cohort_df[['person_id','HS']].drop_duplicates()

# matchit_demo_sub = (is_hs
#                    .merge(race_matrix, on='person_id', how='left')
#                    .merge(sex_matrix, on='person_id', how='left')
#                    .merge(ethinicity_matrix, on='person_id', how='left'))